.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  position: absolute;
  transform: translateY(-200px);
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputText {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: top ease 100ms;
  z-index: 1;
  background-color: inherit;
  opacity: 0.5;
  padding: 0 5px;
}

.inputText.dark {
  background-color: var(--chakra-colors-gray-800);
}

.inputText.light {
  background-color: var(--chakra-colors-white);
}

.inputText.label {
  top: 0;
  opacity: 1;
}
